<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

    
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-tabs class="tabs-icon-top tabs-stable" ng-controller="TabCtrl">

                    <!-- Category Tab -->
                    <ion-tab title="Category" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/category">
                        <ion-nav-view name="tab-category"></ion-nav-view>
                    </ion-tab>

                    <!-- Home Tab -->
                    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home" ng-click="home()">
                        <ion-nav-view name="tab-home"></ion-nav-view>
                    </ion-tab>

                    <!-- Filter Tab -->
                    <ion-tab title="Filter" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/filter">
                        <ion-nav-view name="tab-filter"></ion-nav-view>
                    </ion-tab>


                </ion-tabs>
            </ion-side-menu-content>
            <ion-content>
                <ion-side-menu side="left" ng-controller="MenuCtrl">
                    <ion-list>
                        <ion-item class="item item-icon-left" menu-toggle="left" href="#">
                            <i class="icon ion-map"></i>
                            Map
                        </ion-item>
                        <ion-item class="item item-icon-left" menu-toggle="left" href="#" >
                            <i class="icon ion-more"></i>
                            About
                        </ion-item>
                        <ion-item class="item item-icon-left" menu-toggle="left" ng-click="logout()">
                            <i class="icon ion-log-out"></i>
                            Logout
                        </ion-item>
                    </ion-list>
                </ion-side-menu>
            </ion-content>
        </ion-side-menus>

