<ion-view view-title="Home">
    <ion-nav-buttons side="left">
        <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="wide-as-needed">
            <a href="#" ng-repeat="adsService in adsServices"><img src="http://www.reachthecustomer.com/ServiceBooking/media/img/service/{{adsService.img}}"></a>
        </div>
        <ion-list>
            <a ng-repeat="service in services" class="item item-thumbnail-left services-grid" href="#/service">
                <img src="http://www.reachthecustomer.com/ServiceBooking/media/img/service/{{service.img}}">
                <div class="row service-header">
                    <div class="col"><h2>{{service.name}}</h2></div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <div class="row">
                            <div class="col"><p>{{service.venName}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col"><p>{{service.catName}}</p></div>
                        </div>
                    </div>
                    <div class="col col-50 align-end">
                        <div class="row">
                            <div class="col"><h2>RM {{service.dcPrice}}</h2></div>
                        </div>
                        <div class="row">
                            <div class="col"><p><font class="strikethrough">RM {{service.price}}</font></p></div>
                        </div>
                    </div>
                </div>
                <div class="row service-footer">
                    <div class="col align-end"><p><i class="ion-location icon" style="vertical-align: text-top;"></i>&nbsp;&nbsp;{{service.venLoc}}</p></div>
                </div>
                <div style="position: relative;top:-20px;left:-42px;width:0px !important;height:0px !important;">
                    <img style="width:35px;height:35px;" src="http://www.reachthecustomer.com/ServiceBooking/media/img/rating.png">
                </div>
                <div style="position: relative;top:-11px;left:-34px; width:0px !important;height:0px !important; z-index:9999; font-size:13px; color:#313131">4.8</div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
